body {
    background: rgb(160,167,28);
    background: linear-gradient(360deg, rgb(180, 187, 31) 51%, rgba(0,0,0,1) 51%);
    background-attachment: fixed;
}

.contenedor {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    border: 1px solid rgba(235, 255, 12, 0.3);
}